.page {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto; }
  @media (min-width: 0px) {
    .container {
      max-width: 90%; } }
  @media (min-width: 768px) {
    .container {
      max-width: 80%; } }
  @media (min-width: 992px) {
    .container {
      max-width: 704px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 70%; } }

.logo {
  min-width: 91px; }
  .logo__pic {
    min-width: 91px;
    min-height: 21px; }
  .logo__link {
    display: inline-block;
    margin: 46px 0; }

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .card_m {
    grid-column: span 12; }
    @media (min-width: 576px) {
      .card_m {
        grid-column: span 6; } }
  .card_s {
    grid-column: span 12; }
    @media (min-width: 576px) {
      .card_s {
        grid-column: span 6; } }
    @media (min-width: 768px) {
      .card_s {
        grid-column: span 4; } }
  .card_l {
    grid-column: span 12;
    grid-column-gap: 16px;
    grid-template-rows: auto auto 1rem; }
    @media (min-width: 1600px) {
      .card_l {
        grid-column: span 6; } }
  .card__link {
    text-decoration: none; }
  .card__header {
    font-family: "YS Text";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-size: 19px;
    -o-text-overflow: clip;
    text-overflow: clip; }
    @media (min-width: 992px) {
      .card__header {
        font-size: 19px; } }
    @media (min-width: 1200px) {
      .card__header {
        font-size: 22px; } }
    @media (min-width: 1600px) {
      .card__header {
        font-size: 24px; } }
  .card__pic {
    width: 100%; }
    @media (max-width: 320px) {
      .card__pic {
        display: none; } }
  .card__desc {
    font-family: "YS Text";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }
    @media (min-width: 320px) {
      .card__desc {
        font-size: 16px; } }
    @media (min-width: 576px) {
      .card__desc {
        font-size: 14px; } }
    @media (min-width: 1200px) {
      .card__desc {
        font-size: 16px; } }
    @media (min-width: 1600px) {
      .card__desc {
        font-size: 18px; } }
    @media (min-width: 1920px) {
      .card__desc {
        font-size: 20px; } }
  .card__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat; }
    .card__controls_dots {
      width: 14px;
      height: 4px;
      cursor: pointer;
      background-image: url("img/Actions.png"); }
    .card__controls_likes {
      width: 17px;
      height: 16px;
      cursor: pointer;
      background-image: url("img/Heart.png"); }

.card_m .card__link {
  grid-column: span 12; }

.card_m .card__pic {
  grid-column: span 12; }

.card_m .card__desc {
  grid-column: span 11; }
  @media (max-width: 576px) {
    .card_m .card__desc {
      grid-column: span 12; } }

.card_m .card__controls {
  grid-column: span 1; }
  @media (max-width: 576px) {
    .card_m .card__controls {
      grid-column: span 12;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.card_l .card__pic {
  grid-column: span 8;
  grid-row: span 3; }
  @media (max-width: 768px) {
    .card_l .card__pic {
      grid-column: span 12; } }
  @media (min-width: 1600px) {
    .card_l .card__pic {
      grid-column: span 12; } }

.card_l .card__link {
  grid-column: span 4; }
  @media (max-width: 768px) {
    .card_l .card__link {
      grid-column: span 12; } }
  @media (min-width: 1600px) {
    .card_l .card__link {
      grid-column: span 12; } }

.card_l .card__desc {
  grid-column: span 4; }
  @media (max-width: 768px) {
    .card_l .card__desc {
      grid-column: span 12; } }
  @media (min-width: 1600px) {
    .card_l .card__desc {
      grid-column: span 12; } }

.card_l .card__controls {
  grid-column: span 4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.card_s .card__link {
  grid-column: span 12; }

.card_s .card__pic {
  grid-column: span 12; }

.card_s .card__desc {
  grid-column: span 12; }

.card_s .card__controls {
  grid-column: span 12;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5em; }

.main {
  height: 100%;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 29px;
  grid-template-columns: repeat(12, 1fr); }
