.card
  display: grid
  &_m
  &__header
  &__pic
  &__desc
  &__controls
    width: 14px
    height: 4px
    background-image: url("img/Actions.png")
  &__like
    width: 17px
    height: 16px
    background-image: url("img/Heart.png")